<ion-view view-title="{{navTitle}}" hide-nav-bar="true" cache-view="false">

<ion-header-bar  style=" height:75px;">
	<div class="MainHeader" align="center">
    	<div class="MainHeaderRight" ng-if="showMenuButton">
        	<div class="MainHeaderRightDiv" ng-click="toggleRightSideMenu()">
        		<img src="img/menu.png" style="width:100%" />
            </div>
        </div>
        <div class="MainHeaderLeft" ng-click="goBack()">
        	<div class="MainHeaderLeftDiv">
        		<img src="img/left_arrow.png" style="width:100%" />
            </div>
        </div>
    </div>
</ion-header-bar>


  <ion-content>

  <!--
  <div ng-click="goBack()" style="position:absolute; top:10px; left:10px; z-index:1">
	<i class="ion-ios-arrow-back" style="font-size:40px;" ></i>
  </div>

      <div class="BackgroundImage" >
          <img src="img/bck.jpg" style="width: 100%" />
      </div>
	-->
    <div style="position:relative;" >

      <div class="LogoImage" align="center">
        <img src="img/bookeep.png" style="width: 50%" />
      </div>

      <div style="position:relative; padding-top: 20px;" >

      <div style="margin-top: 10px;" align="center" ng-if="showSelectCompany" ng-style="{width: companyselectWidth}">
        <div class="inputDiv">
          <label class="item item-input item-select itemSelected">
            <div class="input-label itemSelectedLabel" >
              בחר חברה
            </div>
            <select ng-model="scanfileds.client_id" ng-change="updateClient(scanfileds.client_id)" class="itemSelectedBox1" style="" >
              <option value=""> בחר/י בית עסק</option>
			  <option value="{{item.BusinessId}}" ng-repeat="item in clientsArray"> {{item.BusinessName}}</option>
            </select>
          </label>
        </div>
      </div>
	  
	  
      <div style="width: 100%; overflow: hidden" align="center">
      <div class="setExpenseType" align="center">
	  
 	   <div class="setExpenseTypeCenter "   ng-click="setExpenseType(3)" ng-if="showMailButton == 0" ng-style="{width: expenseWidth}"  ng-class="defaultMailImage == 'img/mail2.png' ? 'graybutton' : 'bluebutton' ">
           דואר
		</div>	 
	
        <div class="setExpenseTypeLeft " ng-click="setExpenseType(1)" ng-if="showIncomeButton == 0" ng-style="{width: expenseWidth}" ng-class="defaultIncomeImage == 'img/in2.png' ? 'graybutton' : 'bluebutton'">
		  הכנסה
        </div>
		
        <div class="setExpenseTypeRight "  ng-if="(showMailButton != 0 && showIncomeButton !=1) || (showMailButton == 0)" ng-click="setExpenseType(2)" ng-style="{width: expenseWidth}" ng-class="defaultExpenseImage == 'img/out2.png' ? 'graybutton' : 'bluebutton'">
		  הוצאה
        </div>
		
		

      </div>
      </div>



        <div style="width: 100%; " align="center">
            <div  align="center"  style="margin-top:20px !important; width:60%; overflow: hidden" align="center">
                <div style="width: 37%; float: right; margin-right: 15px;" ng-click="uploadFile(1)">
                    <img src="img/cam1.png" style="width:100%" />
                    <p class="iconTitle" > מצלמה</p>
                </div>
                <div style="width: 30%; float: left; margin-top: 10px; margin-left: 15px;" ng-click="uploadFile(0)">
                    <img src="img/library.png" style="width:100%" />
                    <p class="iconTitle" style="margin-top: 5px;"> גלרייה</p>
                </div>
            </div>
            <!--<div class="LogoImage" align="center" ng-click="uploadFile(0)" style="margin-top: -50px !important; width: 80%; overflow: hidden" align="center">-->
                <!--<div style="width: 100%; float: right;">-->
                    <!--<img src="img/camera.png" style="width:60%; height: 35px; margin-top: 50px;" />-->
                <!--</div>-->
            <!--</div>-->
        </div>



		<!-- uploaded images -->
        <div style="width: 100%; overflow: hidden" align="center">
          <div style="width:90%; overflow:hidden; margin-top:20px;" ng-if="uploadedImages.length > 0" align="center">
            <div  ng-repeat="item in uploadedImages" style="width:32%; height: 90px; margin-left:1%; margin-top: 1%; float:right;">
              <div  ng-click="deleteImage($index)" style="position: absolute; margin-left: 5px; margin-top:5px; ">
                <i class="ion-close-round" style="color: white" aria-hidden="true"></i>
              </div>
              <img src="{{item.image}}"   style="width:100%; height: 90px;" />

            </div>
          </div>
        </div>



        <div class="LogoImage" ng-if="showSubmitButton" align="center" ng-click="sendDocument()" style="margin-top:0px !important; ">
          <img src="img/send.png" style="width:72%" />
        </div>

		<!--<img src="img/sendbt.png" ng-click="sendDocument()" style="width:100%;">-->







      </div>
    </div>

	<!--
	<div align="center">

		<div style="direction:rtl;">בתי עסק:</div>


		<button ng-click="selectClient($index)" ng-class="item.isSelected == 0 ? 'button button-block button-positive' : 'button button-block button-calm'"  ng-repeat="item in clientsArray">
		  {{item.BusinessName}}
		</button>


	<div class="list">

	  <label class="item item-input item-select">
		<div class="input-label">
		  בחירת סוג מסמך
		</div>
		<select ng-model="scanfileds.document_type">
		  <option value="" selected>יש לבחור</option>
		  <option value="1">חשבונית</option>
		  <option value="2">חשבונית מס קבלה</option>
		  <option value="3">קבלה</option>
		  <option value="34">חשבונית זיכוי</option>
		  <option value="1001">חשבונית לקוח</option>
		  <option value="1002">חשבונית מס קבלה לקוח</option>
		  <option value="1003">קבלה לקוח</option>
		  <option value="1034">חשבונית זיכוי לקוח</option>

		</select>
	  </label>

	</div>

	<button class="button button-royal" ng-click="sendDocument()">
	  בחירת מסמך
	</button>


	</div>

	-->

  </ion-content>
</ion-view>
