<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title"></h1>
        <button class="button button-clear button-primary" ng-click="modal.hide()">סגור מסמך</button>
    </ion-header-bar>
    <ion-content>
        <ion-scroll>
            <img src="{{currentItem.DocPath}}" style="width: 100%">
        </ion-scroll>

    </ion-content>
</ion-modal-view>