<ion-view view-title="{{navTitle}}" hide-nav-bar="true" cache-view="false">

    <ion-header-bar  style=" height:75px;">
        <div class="MainHeader" align="center">
            <div class="MainHeaderRight" ng-if="showMenuButton">
                <div class="MainHeaderRightDiv" ng-click="toggleRightSideMenu()">
                    <img src="img/menu.png" style="width:100%" />
                </div>
            </div>
            <div class="MainHeaderLeft" ng-if="showResultsDiv" ng-click="showSearchFun()">
                <div class="MainHeaderLeftDiv">
                    <img src="img/left_arrow.png" style="width:100%" />
                </div>
            </div>
        </div>
    </ion-header-bar>


    <ion-content class="has-footer" style="margin-top:10px; overflow: hidden; ">
        <div style="position:relative;" >

            <div class="LogoImage" align="center">
                <img src="img/bookeep.png" style="width: 50%" />
            </div>
            <div class="reviewTitle">
                מסמכים בתהליך
            </div>
			
		  <div style="width: 100%; margin-top: 10px;" align="center" ng-if="showSelectCompany">
			<div class="inputDiv">
			  <label class="item item-input item-select itemSelected">
				<div class="input-label itemSelectedLabel" >
				  בחר חברה
				</div>
				<select ng-model="scanfileds.client_id" ng-change="updateClient(scanfileds.client_id)" class="itemSelectedBox1" style="" >
				  <option value=""> בחר/י בית עסק</option>
				  <option value="{{item.BusinessId}}" ng-repeat="item in dataarray"> {{item.BusinessName}}</option>
				</select>
			  </label>
			</div>
		  </div>			

            <div class="reviewDocs" ng-repeat="item in clientsArray" align="center" ng-click="openImage(item)">
                <div class="reviewContent">
                    <div class="docNum">
                        {{item.RowId}}.
                    </div>
                    <div class="docV" ng-if="item.Status > 0">
                        <img src="img/approved.png" style="width: 100%" />
                    </div>
                    <div class="docV" ng-if="item.Status > 1">
                        <img src="img/approved.png" style="width: 100%" />
                    </div>
                    <div class="docInfo">
                        <p>מסמך חדש בתהליך</p>
                    </div>
                    <div class="docDate">
                        {{cutDate(item.DateCreated)}}
                    </div>
                </div>
            </div>
        </div>

    </ion-content>

</ion-view>


<!--<script id="templates/modal.html" type="text/ng-template">-->
    <!---->
<!--</script>-->